<div class="center-div">
    <div class="container">
        <div class="chat">
            <div class="header">
                <div class="profile">
                    <div class="left">
                        <img class="pp" src="../../assets/left-arrow.svg" alt="tt" />
                        <img class="icon" src="../../assets/user7.png" alt="tt" />
                        <h2>Abc</h2>
                        <span>online</span>
                    </div>
                    <div class="right">
                        <img class="vicon" src="../../assets/phone.svg" alt="tt" />
                        <img class="vicon" src="../../assets/film.svg" alt="tt" />
                        <img class="vicon" src="../../assets/more.svg" alt="tt" />
                    </div>
                </div>
            </div>
            <div class="chat-box">
            </div>
            <div class="footer">
                <img class="smile" src="../../assets/smile.svg" alt="tt" />
                <textarea placeholder="Type a message"></textarea>
                <div class="attach-cam">
                    <img src="../../assets/smile.svg" alt="tt" />
                    <img src="../../assets/smile.svg" alt="tt" />
                </div>
                <img class="rec" src="../../assets/audio.svg" alt="tt" />
            </div>
        </div>
    </div>
</div>